* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
}

main header {
    background-color: #2791cf;
    color: #fff;
    padding: 7px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.title h1 {
    font-size: 32px;
    margin-left: 10px;
}

header button {
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
    cursor: pointer;
}

header button:disabled,
header button[disabled=disabled] {
    cursor: not-allowed;
    background-color: lightblue;
}

.container {
    background-color: #7E878c;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.container .users-window {
    width: 350px;
    color: #ffffff;
    background-color: #3f3f3f;
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.container .users-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}

.container .users-head h4 {
    background-color: #7E878c;
    padding: 0 8px;
    border-radius: 50px;
}

.container .users-list p {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-bottom: 15px;
}

.container .chat-window {
    width: 100%;
    border-radius: 10px;
    background-color: #3f3f3f;
}

.container .chat-window .chats {
    min-height: 65vh;
    max-height: 65vh;
    padding: 20px;
    overflow: scroll;
}

.container .chat-window .chats .user-join {
    font-size: 0.9rem;
    color: #3f3f3f;
    background-color: #fff;
    border-radius: 50px;
    width: max-content;
    padding: 7px 20px;
    margin: 0 auto 15px;
}

.message {
    color: #3f3f3f;
    background-color: #ffffff;
    padding: 5px 15px;
    max-width: 400px;
    margin-bottom: 15px;
    border-radius: 10px 50px 50px 10px;
}

.message p {
    font-size: 16px;
}

.outgoing {
    margin-left: auto;
    color: #ffffff;
    background-color: #2791cf;
    border-radius: 50px 10px 10px 50px;
    text-align: right;
}

.user-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
}

.user-input input {
    font-size: 16px;
    background-color: #ffffff;
    padding: 10px 20px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 50px 0 0 50px;
}

.user-input button {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    border: none;
    outline: none;
    letter-spacing: 0.5px;
    color: #ffffff;
    background-color: #2791cf;
    border-radius: 0 50px 50px 0;
}

.users-chat {
    overflow: scroll;
}

:is(.users-list p, .user-input button, .outgoing h5) {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    main {
        width: 95%;
    }

    header button {
        display: block;
    }

    .container {
        position: relative;
    }

    .container .users-window {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0 0 10px 10px;
        height: max-content;
        z-index: 11;
        box-shadow: 0 15px 20px -20px black;
        padding-bottom: 0;
        display: none;
    }

    .chat-window .chats .message {
        max-width: 300px;
    }
}