body {
    margin: 0;
    padding: 0;
    /*background-color: #F7B718;*/
}

.mypageMain {
    display: flex;
    position: absolute;
}

.mypageLeftMenu {
    display: inline-block;
    float: left;
    margin: 10px 20px 10px 20px;
    flex-direction: column;
    width: 200px;
    height: 500px;
    background-color: #FFFFFF;
    padding: 1rem;
    box-sizing: border-box;
    border: 4px solid #F7B718;
    border-radius: 15px;
    text-align: center;
    vertical-align: baseline;
}

.mypageLeftMenu button {
    margin: 8px 5px 8px 5px;
    padding-left: 15px;
    height: 80px;
    font-size: 20px;
    text-align: left;
    border: #FFFFFF;
    background-color: #FFFFFF;
}

.mypageLeftMenu button:hover {
    color: #F7B718;
    font-weight: bold;
}

.mypage-info {
    float: left;
    margin: 10px 20px 10px 20px;
    width: 700px;
    padding-bottom: 10px;
    border: 4px solid #F7B718;
    border-radius: 15px;
}

.mypage-profile img {
    float: left;
    border: 4px solid #F7B718;
    margin: 10px 20px 10px 20px;
    border-radius: 100%;

}

.profile-profileImg {
    float: left;
    width: 100%;
    height: 120px;
}

.profile-nickname {
    margin-right: 25px;
    font-size: 32px;
    font-weight: 300;
}

.profile-comment {
    padding: 10px 10px 10px 10px;
    text-align: left;
    width: 300px;
    height: 45px;
    overflow: hidden; /* 내용이 넘칠 때 숨김 */
    border: 2px solid #000000;
    border-radius: 15px;
}

.profile-info {
    height: 100px;
    margin: 20px 0px 0px 0px;
    /*background: green;*/
}

.password-change {
    /*background: red;*/
    margin: 20px 0px 10px 0px;
}

.input[type="text"] {
    text-align: center;
    width: 100%;
    padding: 1rem 2rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    background-color: #EEEEEE;
    color: #33312E;
    font-size: 1.2rem;
    outline: none;
}

.margin-bottom{
    margin-bottom: 10rem;
}

.status-message {
    padding: 10px 10px 10px 10px;
    width: 400px;
    height: 150px;
    margin-left: 140px;
    overflow: hidden; /* 내용이 넘칠 때 숨김 */
    border: 2px solid #000000;
    border-radius: 15px;
}

.edit-message {
    padding: 10px 10px 10px 10px;
    width: 400px;
    height: 270px;
    margin-bottom: 20px;
    margin-left: 140px;
    overflow: hidden; /* 내용이 넘칠 때 숨김 */
    border: 2px solid #000000;
    border-radius: 15px;
}