<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Let's PARTY|Signup</title>
    <link rel="stylesheet" th:href="@{/css/signup-login.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(() => {
            //해당 버튼쪽에서 클릭행위를 했을때 signup기능을 시작
            $("#signbtn").on("click", (ev) => signup(ev))
        })

        function signup(ev) {
            // 회원가입 양식 데이터 가져오기
            var formData = {
                email: $("#email").val(),
                password: $("#password").val(),
                nickname: $("#nickname").val(),
            };
            ev.preventDefault()
            // Ajax 요청 보내기
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/api/users/signup",
                data: JSON.stringify(formData),
                success: function (response, status, xhr) {
                    if (status === 'success') {
                        alert('회원가입 완료')
                        let host = window.location.host;
                        let url = host + '/page/loginPage'; //이동하려는 페이지 주소
                        document.cookie =
                            'Authorization' + '=' + xhr.getResponseHeader('Authorization') + ';path=/';
                        window.location.href = 'http://' + url;
                    } else {
                        alert(response.json.msg)
                    }
                }
            }).done((json) => {
                console.log("singup_done");
            }).fail(() => {
                console.log("singup_fail");
            })
        }

    </script>
</head>
<body>
<div class="container">
    <h1 class="title">회원가입</h1>
    <form action="submit_form.php" method="POST">
        <span style=" font-size:1.5em;">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="예) lets@party.com">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="영문, 숫자, 특수문자 조합 8-60자">

            <label for="nickname">닉네임:</label>
            <input type="text" id="nickname" name="nickname" placeholder="닉네임을 입력해주세요.">

            <input type="submit" value="가입하기" id="signbtn">
        </span>
    </form>
    <p><a href="/page/loginPage">이미 가입한 계정이 있으신가요?</a></p>
</div>
<footer>
    <div class="bottomlogo">
        <a href="/page/indexPage">Let's PARTY</a>
    </div>
</footer>
</body>
</html>
